body {background-color:aliceblue}
p#pageHeading {color:#29088A; font-family:lucida calligraphy; font-size:200%; font-weight: bold}
p.bullets {color:#AC58FA; font-size: 115%; font-style: italic; font-weight: bold}
img.dogs {height:105px;width:110px}